:root{
    --color1:#5cbbd3;
}
.mybgcolor{
    background-color: var(--color1)!important;
}
/*start nav*/
nav{
    font-family: 'Montserrat', sans-serif!important;
    font-size: 12px!important;
    letter-spacing: 2px;
    padding-top:0rem!important;
    padding-bottom:0rem!important;

}
nav div.container-fluid{
    padding-left: 0rem!important; 
    padding-right: 0rem!important;
}
.nav-link{
    color: white!important;
    padding: 1rem!important;
}
.nav-link:hover{
    background-color: white;
    color: var(--color1)!important;
}
.navbar-toggler{
    margin:0.5rem 1rem!important;
    padding: 0.2rem!important;
    box-shadow: none!important;
    border: none!important;
}
.navbar-toggler:hover,.navbar-toggler:focus{
    background-color: #ddd!important;

}
.navbar-brand{
    margin: 0rem 1rem !important;
}
.navbar-toggler-icon{
    background-image: none!important;
    height: auto!important;
}
.fa-bars{
    color: gray;
}

/*start div1*/
#div1{
    font-family: 'Montserrat', sans-serif!important;
}
#div1 p:first-child{
        font-size: 63px!important;
        line-height: 69px;
}